* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: "Avenir Next";
    height: 100vh;
}

header {
    background: #fd0000;
    height: 80px;
    width: 100vw;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
}

.header-list li {
    list-style: none;
    float: left;
    color: #fff;
    padding: 33px 30px;
    font-size: 30px;
}

.selectyear {
    width: 4em;
}

.selectmonth {
    width: 2em;
}

.header-list .selected {
    float: right;
}

.header-logo {
    font-size: 50px;
    float: left;
    color: #fff;
    padding: 10px 40px 0px 40px;
}
  
.main{
    background: #ffffff;
    height: 810px;
    width: 100vw;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
}

.illustration {
    width: 50%;
    min-width: 500px;
    height: 40%;
    margin: 0 auto;
}

.illustration img {
    height: 100%;
    width: 100%;
    
    margin: auto;
    display: block;
}

@media (max-height: 600px) {
    .illustration{display:none}
    .blank{display: none}
    .main{
        height: 80vh;
        min-height:470px;
    }
}

.day table {
    width: 100%;
    height: 60%;
    border:3px rgb(10, 10, 10) solid;
    border-collapse: collapse;
    padding-top: 40px;
    margin: 0 auto;
}
  
th {
    height: 30px;
    background: #06e8f0;
    font-size: 25px;
}

td {
    height: 50px;
    font-size: 20px;
    line-height: 1.0;
}

th, td {
    width: 40px;
    border:1px black solid;
    text-align: center;
}

td:first-child {
    color:#ff0000;
}

td:last-child {
    color:#0026ff;
}

td a {
    cursor: pointer;
}

.omi1 {
    color: #9500ff;
}

.omi2 {
    color: #0008fd;
}

.omi3 {
    color: #00d5ff;
}

.omi4 {
    color: #00ff08;
}

.omi5 {
    color: #fff700;
}

.omi6 {
    color: #ff8400;
}

.omi7 {
    color: #f80000;
}

.today {
    font-size: 30px;
    padding-top: 20px;
}

.today p {
    font-size: 15px;
}

.todayHoliday {
    color:#ff0000;
}

.todayHoliday p2 {
    font-size: 10px;
}

.Holiday {
    color:#ff0000;
    padding-top: 10px;
}

.Holiday p {
    font-size: 10px;
}

footer {
    background: #05031f;
    height: 80px;
    width: 100vw;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
}

button {
    cursor: pointer;
    margin: 30px;
    color: #fff;
    opacity: 0.8;
    border-radius: 4px;
    background-color: #5dca88;
    border-bottom:1px solid #eee;
    box-shadow: 0px 7px #1a7940;
    display: inline-block;
}

button:active {
    box-shadow: none;
    position: relative;
    top: 7px;

}

button:hover {
    opacity: 1;
}

.btn-prev {
    float: left;
}

.btn-next {
    float: right;
}
  